<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <%- include('../includes/links.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
        <%- include('../includes/flash.ejs') %>
            <main>
                <% if (allListings.length===0) { %>
                    <h2>No search results for "<%= searchTerm %>"</h2>
                    <% } else { %>
                        <h2>Search results for "<%= searchTerm %>"</h2>
                        <div class="card-cont">
                            <% for(let listings of allListings) { %>
                                <div class="card">
                                    <a href="/listings/<%= listings._id %>">
                                        <img src="<%= listings.image.url %>" alt="listing-image">
                                        <div class="card-body">
                                            <span class="card-title">
                                                <%= listings.location %>, <%= listings.country %>
                                            </span>
                                    </a>

                                    <% if (listings.avgRating !==null) { const fullStars=Math.floor(listings.avgRating);
                                        const halfStar=listings.avgRating - fullStars>= 0.5;
                                        const emptyStars = 5 - fullStars - (halfStar ? 1 : 0);
                                        %>
                                        <span class="card-star">
                                            <% for (let i=0; i < fullStars; i++) { %>
                                                <i class="fa-solid fa-star"></i>
                                                <% } %>
                                                    <% if (halfStar) { %>
                                                        <i class="fa-solid fa-star-half-stroke"></i>
                                                        <% } %>
                                                            <% for (let i=0; i < emptyStars; i++) { %>
                                                                <i class="fa-regular fa-star"></i>
                                                                <% } %>
                                                                    <a href="/listings/<%= listings._id %>">
                                                                        <%= listings.totalReviews %> <i
                                                                                class="fa-solid fa-caret-down"></i>
                                                                    </a>
                                        </span>
                                        <% } %>

                                            <span class="card-price">
                                                &#8377; <%= listings.price && listings.price.toLocaleString("en-IN") %>
                                                    /night
                                            </span>
                                </div>
                        </div>
                        <% } %>
                            <% } %>
                                </div>
            </main>
            <%- include('../includes/footer.ejs') %>
</body>

</html>