<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= listing.title %>
    </title>
    <%- include('../includes/links.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

        <%- include('../includes/flash.ejs') %>

            <h1>
                <%= listing.title %>
            </h1>
            <div class="show-cont">
                <div class="show-img">
                    <img src="<%= listing.image %>" alt="">
                </div>
                <ul class="show-body">

                    <div class="show-owner">
                        <span><i class="fa-solid fa-circle-user"></i></span>
                        <span><b><i>
                                    <%= listing.owner.username %>
                                </i></b> </span>
                    </div>
                    <li class="show-description">
                        <%= listing.description %>
                    </li>
                    <li class="show-price">
                        <i class="fa-solid fa-dollar-sign"></i>
                        &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %>
                    </li>
                    <li class="show-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <%= listing.location %>
                    </li>
                    <li class="show-country">
                        <i class="fa-solid fa-earth-americas"></i>
                        <%= listing.country %>
                    </li>
                </ul>

                <div class="show-btn">
                    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
                        <button onclick="window.location.href='/listings/<%= listing._id %>/edit'"
                            class="edit-btn ">Edit</button>
                        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                            <button class="del-btn">Delete</button>
                        </form>
                        <% } %>
                </div>
            </div>

            <div class="review">
                <div class="review-cont">
                    <h4>Leave a Review</h4>
                    <form action="/listings/<%= listing._id %>/reviews" method="POST">
                        <!-- <div class="rating">
                            <input type="range" name="review[rating]" id="rating" min="1" max="5">
                        </div> -->
                        <div class="rating">
                            <fieldset class="starability-heartbeat">
                                <legend>Rating:</legend>
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                                    aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="comment">
                            <label for="comment">Leave a Review</label>
                            <textarea name="review[comment]" id="comment" required></textarea>
                        </div>

                        <div class="review-btn">
                            <button type="submit" class="form-btn-add">Submit</button>
                        </div>

                    </form>
                </div>

                <div class="review-show">
                    <h4>Customer Reviews</h4>
                    <div class="review-show-cont">

                        <% for(review of listing.reviews) { %>
                            <div class="review-card">
                                <div class="review-author">
                                    <i class="fa-solid fa-circle-user"></i>
                                    <h4><%- review.author.username %></h4>
                                </div>
                                <div class="review-comment">
                                    <%- review.comment %>
                                </div>
                                <div class="review-rating">
                                    <p class="starability-result" data-rating="<%- review.rating %>">
                                    </p>
                                </div>
                                <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                    <form method="POST"
                                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                        <button class="del-btn ">Delete</button>
                                    </form>
                                    <% } %>

                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <%- include('../includes/footer.ejs') %>
</body>

</html>